{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>Nome: {{ user.nome }}</p>
    <p>Login: {{ user.username }}</p>
    <p>E-mail: {{ user.email }}</p>
    <p>Lotação: {{ user.lotacao.descricao }}</p>
    <a href="/omnia/profile/change-password" class="btn btn-primary">Alterar Senha</a>
    <a href="/omnia/profile/edit" class="btn btn-primary">Alterar Dados</a>
</div>
