{% extends "base.html.twig" %}
{% block header %}
    <div class="fundo-topo">
        Cadastro de Processo (protótipo)
    </div>
{% endblock %}

{% block content %}
    <br>
    <div class="container-fluid">
        <div class="row">
            <div class="container">
                <div class="col-md-11 col-xs-12">
                    <div class="col-md-3 col-xs-12">
                        <label>Data</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-9 col-xs-12">
                        <label>Título</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row"></div>
                    <br>
                    <div class="col-md-6 col-xs-12">
                        <label>Especializada</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="col-md-6 col-xs-12">
                        <label>Procurador</label>
                        <input type="text" class="form-control">
                    </div>
                    <div class="row"></div>
                    <br>
                    <div class="col-md-12 col-xs-12">
                        <label>Descrição</label>
                        <textarea rows="6" cols="50" class="form-control"></textarea>
                    </div>
                    <div class="row"></div>
                    <br><br>
                    <div class="col-md-12 col-xs-12">
                        <input class="btn btn-primary" type="submit" value="Enviar" />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}