<!DOCTYPE html>
<html>
    <head>
        {% block head %}
            <!-- Mobile viewport optimized -->
            <meta name="viewport"
                  content="width=device-width, initial-scale=1, maximum-scale=1">

            <meta http-equiv="content-type" content="text/html; charset=UTF-8" />

            <meta name="keywords" content="omnia">
            <meta name="keywords" content="aplicativos pgm">
            <meta name="keywords" content="pgm">
            <meta name="keywords" content="procuradoria geral do municipio">
            <meta name="keywords" content="municipio de teresina">

            <link href="http://pgm.teresina.pi.gov.br/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
        {% endblock %}

        <title>{% block title %}Procuradoria Geral do Município - PGM{% endblock %}</title>
        {% block stylesheets %}
            <!-- Imports CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
                  integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
                  crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="{{ asset('build/js/app.css') }}">
            <style>
                .watermark{
                    background-image: url({{ asset('uploads/images/water-mark2.jpg') }});
                    background-repeat: no-repeat;
                    background-position: center;
                    position: relative;
                    width: 100%;
                    top: 0px;
                    opacity: 0.04;
                    color: white;
                }
                .watermark-over{
                    color: #000000;
                    position: absolute;
                    top: 70px;
                    width: 100%;
                }
            </style>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                {% block header %}
                {% endblock %}
            </div>
        </nav>
        <div id="wrap" class="watermark"></div>
        <main class="watermark-over">
        {% block content %}
        {% endblock %}
        </main>
        <div id="push"></div>
        <footer id="footer">
        {% block footer %}

            <div class="container-fluid">
                <div class="container-fluid" id="footer-container-img">
                <img alt="" id="topo-img" src="{{ asset('uploads/images/logopgm.jpg')}}"
                     class="img-responsive" float="left">
                    <br/><br/><br/>
                    Procuradoria Geral do Município
                </div>
            </div>

        {% endblock %}
        </footer>

        {% block javascripts %}
            <!-- Imports Scripts -->
            <script
                    src="https://code.jquery.com/jquery-3.3.1.min.js"
                    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                    crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
            <script src="https://github.com/makeusabrew/bootbox/releases/download/v4.4.0/bootbox.min.js"></script>
            <script src="{{ asset('build/js/app.js') }}"></script>

        {% endblock %}
    </body>
</html>
